<br>
<br>
<div class="jumbotron">
  <h1>Wikster</h1>
  <h4>A place for all your smart words to live</h4>
  <br>
</div>

<div class="welcome-row">
  <h3>This app can be enjoyed three different ways</h3>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Guest</h2>
    <p>Browse wikis</p>
  </div>
  <div class="col-md-4">
    <div class="member">
      <h2>Member</h2>
      <p>Browse wikis</p>
      <p>Create public wikis</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="premium">
      <h2>Premium Member</h2>
      <p>Browse wikis</p>
      <p>Create public wikis</p>
      <p>Create private wikis</p>
      <p>Add collaborators to wikis</p>
    </div>
  </div>
</div>
